{% extends "base.html" %} 
{% block content %} 
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <div style="display: flex;">
        <div style="flex: 1;">
            <h1>GPX File Importer</h1>
            <form action="/process_text" method="post">
                <label for="user_text">Folder Path For GPX Files:</label>
                <input type="text" id="user_text" name="user_text">
                <input type="submit" value="Import">
            </form>
            <h1>Selectable Tracks</h1>
            <form action="/process_selection" method="post">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Tracks</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">People</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Vehicles</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                        <ul>
                            {% for item in items1 %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="selected_items" value="{{ item.tid }}">
                                        {{ item.name }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                        <ul>
                            {% for item in items2 %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="selected_items" value="{{ item.pid }}">
                                        {{ item.name }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                        <ul>
                            {% for item in items3 %}
                                <li>
                                    <label>
                                        <input type="checkbox" name="selected_items" value="{{ item.fzid }}">
                                        {{ item.polkz }}
                                    </label>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <input type="submit" value="Selected Items to display">
            </form>
        </div>
        <div id="map" style="flex: 1; height: 93vh;"></div>
    </div>
    <!-- Your script here -->
<script>
    var map = L.map('map').setView([0, 0], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Funktion zum Hinzufügen von Trackpunkten zur Karte
    function addTrackPointsToMap(tracks) {
    console.log(tracks.length)

    // Define an array of colors
    var colors = ['blue', 'red', 'green', 'purple', 'orange', 'yellow', 'black', 'pink', 'brown', 'gray'];

    for (var j = 0; j < tracks.length; j++) {
        var latlngs = [];
        var trackPoints = tracks[j]["points"]
        console.log(trackPoints)
        for (var i = 0; i < trackPoints.length; i++) {
            latlngs.push([trackPoints[i]["lat"], trackPoints[i]["lon"]]);
        }

        // Use the track's index to select a color from the array
        var color = colors[j % colors.length];

        var polyline = L.polyline(latlngs, { color: color }).addTo(map);
        map.fitBounds(polyline.getBounds());
    }
}
        // Draw the tracks when the page loads
        var tracks_list = {{ tracks|safe }};
        if (tracks_list && tracks_list.length > 0) {
        try {
            // console.log(tracks_list);
            addTrackPointsToMap(tracks_list);
        } catch (e) {
             console.error("Error parsing track points:", e);
        }
    }

    // // Draw the tracks when the page loads
    // var trackPoints = {{ track_points|safe }};
    // if (trackPoints && trackPoints.length > 0) {
    //     try {
    //         console.log(trackPoints);
    //         addTrackPointsToMap(trackPoints);
    //     } catch (e) {
    //          console.error("Error parsing track points:", e);
    //     }
    // }
</script>
{% endblock %}
