
{% extends "base.html" %} 
{% block content %} 
<head>
  <link rel="sytlesheet" href="https://www.unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://www.unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
<div id="map" sytle="with: 50%; height: 50vh;"></div>
<script>
  var map = L.map('map').setView([0,0],13);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
</script>
</body>
{% endblock %}


